$layout-spacing: 17px;

$layout-header: $layout-spacing * 3;
$layout-aside: 234px;
// glbal background
$layout-bg: rgba(240, 242, 245, 0.25);
// #f7f8f9;
$layout-line: rgba(5, 5, 5, 0.06);
$page-bg: #f5f8ff;
$page-section-pd: 8px;


$header:56px;
$crumb:36px;

$layout-cx-bg:#ffffff;
$layout-cx-border:#f0f0f0;


